# Forcer la détection de Dart
*.dart linguist-detectable=true

# Ignorer les fichiers C++ et CMake
*.cpp linguist-vendored
*.h linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored